body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
   
}

h1 {
    font-weight: 600;
}

h2 {font-weight: 400;

}

h3{font-weight: 300;
    line-height: 1.2;
}


h5 {
    color:  #272626;
    
}

h6 {
    font-weight: 400;
    color:  #272626;
    font-size: 3rem;
}

p {
    font-weight: 200;
    color: #252222;
}



.herosection {
    padding-top: 3rem;
}

.hero {
    background-image: url('../img/bg_hero.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 5%;
    position: relative; /*para contener elemenntos absoutos */
    
}

.absoluta {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 80%;
    text-align: center;
}

.intro{
    padding: 2rem 2rem;
}

.contenedor{
   padding 0 20px 0 20px;
}

.borde{
    border-top: 1px solid #373a3C;
}

.footredes a {
    color: #ffffff
    
}
a :hover {
    color: #272626;
}
