body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
   
}

h1 {
    font-weight: 500;
}

h2 {font-weight: 400;

}

h5 {
    color:  #272626;
    
}

h6 {
    font-weight: 400;
    color:  #272626;
    font-size: 3rem;
}

p {
    font-weight: 400;
    color: #252222;
}



.herosection {
    padding-top: 3rem;
}

.jumboheader {
    background-image: url('../img/bg_hero.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    
}

.bio {
    padding: 2rem 2rem;
}

.icons-section h2 {
    font-size: 3rem;
}

.footredes a {
    color: #ffffff
    
}
a :hover {
    color: #272626;
}